<header>
    <!-- Placeholder topNav elements -->
    <!-- <nav id="top-menu"></nav> -->
    <!-- <nav id="sub-menu"></nav> -->

    <a href="/flights/new">Add New Flight</a>
    <a href="/flights">Show All Flights</a>
</header>