<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/flights/new">Add New Flight</a>
    <a href="/flights/">Show All Flights</a>
  </body>
</html>
