<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>Document</title>
   </head>
<body>
    <div>
    <h2>All Flights</h2>
    <table class="styled-table">
        <thead>
          <tr>
            <th>Airline</th>
            <th>Airport</th>
            <th>Flight Number</th>
            <th>Departs</th>
          </tr>
        </thead>
        <tbody>
    
          <% flights.forEach(f => { %>
            <tr>
              <td><%= f.airline %></td>
              <td><%= f.airport %></td>
              <td><%= f.flightNo %></td>
              <td><%= f.departs %></td>
            </tr>
            <% }) %>
        </tbody>
      </table>
</div>
</body>
</html>