<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>Document</title>
   </head>
<body>
    <div id="container">
    <h2>Enter a New Flight</h2>
    <form id="form1" action="/flights" method="POST">
        <label>Airline:
            <!-- <input type="text" name="airline"> -->
            <select name="airline">
                <option value="American">American</option>
                <option value="Southwest">Southwest</option>
                <option value="United">United</option>
            </select>
        </label>
        <label>Airport:
            <!-- <input type="number" name="airport"> -->
            <select name="airport">
                <option value="AUS">Austin (AUS)</option>
                <option value="DFW">Dallas-Fort Worth (DFW)</option>
                <option value="DEN">Denver (DEN)</option>
                <option value="LAX">Los Angeles (LAX)</option>
                <option value="SAN">San Diego (SAN)</option>
            </select>
        </label>
    <label>Flight Number:
        <input type="number" name="flightNo" min="10" max="9999">
    </label>
    <label>Departs:
        <input type="date" name="departs">
    </label>
    
    <input class="button" type="submit" size="60px" value="Add Flight">
    </form>
</div>
</body>
</html>